.header {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  background: url("../img/head-bg.png") no-repeat;
  background-size: cover;
  &__menu {
    float: right;
    position: relative;
    list-style: none;
    margin-top: 57px;

    li {
      display: inline-block;
      margin-left: 96px;
      .active {
        padding: 20px 40px;
        background: #fff;
        color: #43cb83;
        font-weight: 700;
        transition: 300ms ease;
        border-radius: 30px;
        margin: -20px -40px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        @include box-sizing(border-box);
      }
      a {
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        display: block;
        transition: 300ms ease;
        position: relative;
        border-radius: 30px;

        &:hover {
          padding: 20px 40px;
          background: #fff;
          color: #43cb83;
          font-weight: 700;
          transition: 300ms ease;
          margin: -20px -40px;
          border-radius: 30px;
          box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        }
      }
    }
  }
  &__text {
    margin-bottom:  100px;
    margin-top: 78px;

    h1 {
      text-transform: uppercase;
      font-size: 36px;
      color: #fff;
      font-weight: 900;

    }
    h4 {
      color: #fff;
      font-weight: 700;
      font-size: 24px;
    }
    p {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
  }
  &__img {
    display: block;
    position: absolute;
    left: 50px;
    top: 50px;
    width: 700px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
