.header {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  background: url("../img/head-bg.png") no-repeat;
  background-size: cover;
  .menu-link {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    position: relative;
    left: 15px;
    z-index: 10;
    top: 20px;
    @include breakpoint(max-width 736px){
      display: block;
    }
    span, span:before, span:after {
      display: block;
      height: 2px;
      width: 18px;
      background-color: #222;
      position: absolute;
      left: 50%;
      margin-left: -9px;
      top: 50%;
      margin-top: -1px;
    }
    span:before {
      transition: all 0.2s;
      margin-top: -6px;
      content: '';
    }
    span:after {
      transition: all 0.2s;
      margin-top: 4px;
      content: '';
    }
    &_active span {
      background-color: transparent;
      &:before {
        transform: rotate(135deg);
        margin-top: 0;
      }
      &:after {
        transform: rotate(-134deg);
        margin-top: 0;
      }
    }
  }
  &__menu {
    float: right;
    position: relative;
    list-style: none;
    margin-top: 57px;
    @include breakpoint(max-width 736px){
      display: none;
    }
    li {
      display: inline-block;
      margin-left: 96px;
      .active {
        padding: 15px 30px;
        background: #fff;
        color: #43cb83;
        font-weight: 700;
        transition: 300ms ease;
        border-radius: 30px;
        margin: -15px -30px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        @include box-sizing(border-box);
      }
      a {
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        display: block;
        transition: 300ms ease;
        position: relative;
        border-radius: 30px;

        &:hover {
          padding: 15px 30px;
          background: #fff;
          color: #43cb83;
          font-weight: 700;
          transition: 300ms ease;
          margin: -15px -30px;
          border-radius: 30px;
          box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        }
      }
    }
  }
  &__text {
    margin-bottom:  100px;
    margin-top: 78px;

    h1 {
      text-transform: uppercase;
      font-size: 36px;
      color: #fff;
      font-weight: 900;

    }
    h4 {
      color: #fff;
      font-weight: 700;
      font-size: 24px;
    }
    p {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
  }
  &__img {
    display: block;
    position: absolute;
    width: 100%;
    left: -8%;
    @include breakpoint(max-width 1300px){
      left: 0;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
